@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: iran;
}

@font-face {
  font-family: iran;
  src: url(./font/iran.ttf);
}

/* Hide the spinner for WebKit browsers (Chrome, Safari) */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}